// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables
$red: #D43227;
$grey: #4a4a4a;
$light-grey: #808080;
$card-info-grey: #a5a4a9;
$card-description-grey: #7c7c7c;
$presentation-title-grey: #515151;
