// - - - - - - - - - - - - - - - - - - -
// - - filter module
// styles for the filter module

.filter-btn {
  font-weight: normal;
}

.presentation-title {
  color: $presentation-title-grey;
  font-weight: 300;
  padding: 0;
}
